<!DOCTYPE html>
%html
  %head
    = File.read("src/templates/head.html")
    %link{:rel=>'stylesheet', :href=>'./styles/login.css'}
  %body
    %form
      %input
      %input
      %input{:type=>'submit'}
